/* ===================================================
   ANIMAÇÕES GLOBAIS
=================================================== */

.fade-up{

    opacity:0;

    transform:translateY(50px);

    transition:opacity .8s ease, transform .8s ease;

}

.fade-left{

    opacity:0;

    transform:translateX(-60px);

    transition:opacity .8s ease, transform .8s ease;

}

.fade-right{

    opacity:0;

    transform:translateX(60px);

    transition:opacity .8s ease, transform .8s ease;

}

.zoom-in{

    opacity:0;

    transform:scale(.9);

    transition:opacity .8s ease, transform .8s ease;

}

.show{

    opacity:1 !important;

    transform:none !important;

}
