/* ===== RESET ===== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Poppins',sans-serif;
    background:#f5f5f5;
    color:#222;
    line-height:1.6;
}

.container{
    width:90%;
    max-width:1200px;
    margin:auto;
}

/* ===== HEADER ===== */

header{
    background:#111;
    padding:18px 0;
    position:sticky;
    top:0;
    z-index:999;
}

header .container{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo img{
    width:180px;
}

nav{
    display:flex;
    gap:25px;
}

nav a{
    color:#fff;
    text-decoration:none;
    font-weight:600;
    transition:.3s;
}

nav a:hover{
    color:#d4af37;
}

.botao-topo{
    background:#d4af37;
    color:#111;
    padding:12px 22px;
    border-radius:40px;
    text-decoration:none;
    font-weight:bold;
}

.botao-topo:hover{
    background:#b9911f;
}

/* ===== HERO ===== */

.hero{
    padding:80px 0;
    background:#111;
    color:#fff;
}

.hero .container{
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:50px;
    flex-wrap:wrap;
}

.hero-texto{
    flex:1;
}

.hero-texto span{
    color:#d4af37;
    font-weight:700;
}

.hero-texto h1{
    font-size:52px;
    margin:20px 0;
    line-height:1.2;
}

.hero-texto p{
    font-size:18px;
    margin-bottom:30px;
}

.botao-principal{
    display:inline-block;
    background:#d4af37;
    color:#111;
    padding:15px 35px;
    border-radius:50px;
    text-decoration:none;
    font-weight:700;
}

.botao-principal:hover{
    background:#b9911f;
}

.hero-imagem{
    flex:1;
    text-align:center;
}

.hero-imagem img{
    width:100%;
    max-width:500px;
}

/* ===== CELULAR ===== */

@media(max-width:768px){

header .container{
flex-direction:column;
gap:20px;
}

nav{
flex-wrap:wrap;
justify-content:center;
}

.hero{
padding:50px 0;
text-align:center;
}

.hero .container{
flex-direction:column;
}

.hero-texto h1{
font-size:38px;
}

.logo img{
width:150px;
}

}

/* ===== SERVIÇOS ===== */

.servicos{
    padding:80px 0;
    background:#f8f6f1;
}

.servicos h2{
    text-align:center;
    font-size:38px;
    color:#111;
    margin-bottom:10px;
}

.subtitulo{
    text-align:center;
    max-width:700px;
    margin:0 auto 50px;
    color:#666;
}

.cards-servicos{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
    gap:25px;
}

.card{
    background:#fff;
    border-radius:18px;
    padding:30px;
    box-shadow:0 8px 20px rgba(0,0,0,.08);
    transition:.3s;
    border-top:5px solid #d4af37;
}

.card:hover{
    transform:translateY(-8px);
}

.card h3{
    color:#111;
    margin-bottom:15px;
}

.card p{
    color:#666;
    margin-bottom:20px;
}

.card a{
    color:#d4af37;
    text-decoration:none;
    font-weight:700;
}
